In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [4]:
url = "https://en.wikipedia.org/wiki/List_of_highest-grossing_films"
response = requests.get(url)
response = BeautifulSoup(response.content, "html.parser")
table = response.find("table", class_= "wikitable plainrowheaders")

In [5]:
headers=[]
for x in table.find_all("tr"):
        for i in x.find_all("th"):
            data = i.text.replace("\n","")
            headers.append(data)
headers

['Rank',
 'Title',
 'Worldwide gross(2023 $)',
 'Year',
 'Gone with the Wind',
 'Avatar',
 'Titanic',
 'Star Wars',
 'Avengers: Endgame',
 'The Sound of Music',
 'E.T. the Extra-Terrestrial',
 'The Ten Commandments',
 'Doctor Zhivago',
 'Star Wars: The Force Awakens']

In [6]:
df = pd.DataFrame(columns=headers)
droping = df.columns[4:]
droping_columns = df.drop(columns=droping)
droping_columns

Empty DataFrame
Columns: [Rank, Title, Worldwide gross(2023 $), Year]
Index: []

In [7]:
rowdata = []
dat_a = table.find("tbody")
for tr in dat_a.find_all("tr"):
    row = []
    for td in tr.find_all("td"):
        data = td.text.replace("\n", "")
        row.append(data)
    for td in tr.find_all("i"):
        row.append(td.text)
    rowdata.append(row)
rowdata

[[],
 ['1', 'GW$4,341,000,000', '1939', 'Gone with the Wind'],
 ['2', 'A1$3,957,000,000', '2009', 'Avatar'],
 ['3', '$2,516,000,000T$3,677,000,000', '1997', 'Titanic'],
 ['4', '$3,563,000,000', '1977', 'Star Wars'],
 ['5', 'AE$3,275,000,000', '2019', 'Avengers: Endgame'],
 ['6', '$2,984,000,000', '1965', 'The Sound of Music'],
 ['7', 'ET$2,917,000,000', '1982', 'E.T. the Extra-Terrestrial'],
 ['8', '$2,758,000,000', '1956', 'The Ten Commandments'],
 ['9', '$2,615,000,000', '1965', 'Doctor Zhivago'],
 ['10', 'TFA$2,577,000,000', '2015', 'Star Wars: The Force Awakens']]

In [8]:
rowdata.pop(0)
rowdata

[['1', 'GW$4,341,000,000', '1939', 'Gone with the Wind'],
 ['2', 'A1$3,957,000,000', '2009', 'Avatar'],
 ['3', '$2,516,000,000T$3,677,000,000', '1997', 'Titanic'],
 ['4', '$3,563,000,000', '1977', 'Star Wars'],
 ['5', 'AE$3,275,000,000', '2019', 'Avengers: Endgame'],
 ['6', '$2,984,000,000', '1965', 'The Sound of Music'],
 ['7', 'ET$2,917,000,000', '1982', 'E.T. the Extra-Terrestrial'],
 ['8', '$2,758,000,000', '1956', 'The Ten Commandments'],
 ['9', '$2,615,000,000', '1965', 'Doctor Zhivago'],
 ['10', 'TFA$2,577,000,000', '2015', 'Star Wars: The Force Awakens']]

In [9]:
df = pd.DataFrame(rowdata,columns=droping_columns.columns)
df

,Rank,Title,Worldwide gross(2023 $),Year
0,1,"GW$4,341,000,000",1939,Gone with the Wind
1,2,"A1$3,957,000,000",2009,Avatar
2,3,"$2,516,000,000T$3,677,000,000",1997,Titanic
3,4,"$3,563,000,000",1977,Star Wars
4,5,"AE$3,275,000,000",2019,Avengers: Endgame
5,6,"$2,984,000,000",1965,The Sound of Music
6,7,"ET$2,917,000,000",1982,E.T. the Extra-Terrestrial
7,8,"$2,758,000,000",1956,The Ten Commandments
8,9,"$2,615,000,000",1965,Doctor Zhivago
9,10,"TFA$2,577,000,000",2015,Star Wars: The Force Awakens

In [42]:
df["Title"] = df["Title"].replace(["GW","A1","AE","ET","TFA"],"",regex=True)
renam_e = df.rename(columns={"Title":"Worldwide gross(2023 $)","Worldwide gross(2023 $)":"Year","Year":"Title"})
renam_e[["Rank","Title","Worldwide gross(2023 $)","Year"]]

  Rank                         Title        Worldwide gross(2023 $)  Year
0    1            Gone with the Wind                 $4,341,000,000  1939
1    2                        Avatar                 $3,957,000,000  2009
2    3                       Titanic  $2,516,000,000T$3,677,000,000  1997
3    4                     Star Wars                 $3,563,000,000  1977
4    5             Avengers: Endgame                 $3,275,000,000  2019
5    6            The Sound of Music                 $2,984,000,000  1965
6    7    E.T. the Extra-Terrestrial                 $2,917,000,000  1982
7    8          The Ten Commandments                 $2,758,000,000  1956
8    9                Doctor Zhivago                 $2,615,000,000  1965
9   10  Star Wars: The Force Awakens                 $2,577,000,000  2015